<div class="modal-header">
    <h4 class="modal-title" style="color: black">{{titleHeader}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
    </button>
</div>
<form class="servicos">
    <div class="modal-body">
        <div class="form-group row">
            <label style="color: black" class="col-md-3 col-form-label">Nome</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="nome"  [(ngModel)]="nome" required>
                </div>
        </div>
        <div class="form-group row">
                <label style="color: black" class="col-md-3 col-form-label">Valor</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="valor"  [(ngModel)]="valor" required>
                </div>
        </div>
    </div>
    <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
            <button type="button" class="btn btn-outline-dark"  (click)="close()">Cancelar</button>
    </div>
</form>