<h2>Serviço <small>barber</small></h2>
<hr/>
 <div>
    <button type="button" class="btn btn-primary" >Novo</button>
    <button type="button" class="btn btn-light">Filtro</button>
  </div>
  <div class="grade">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Preco</th>
          <th scope="col">Tempo de Duração</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Mark</th>
          <td>15R$</td>
          <td>20 mim</td>
        </tr>
        <tr>
          <th scope="row">Jacob</th>
          <td>15R$</td>
          <td>20 mim</td>
        </tr>
        <tr>
          <th scope="row">Larry</th>
          <td>15R$</td>
          <td>20 mim</td>
        </tr>
      </tbody>
    </table>
  </div>
