<form>
  <div class="form-group">
    <label for="InputName">Nome</label>
    <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="Nome do serviço">
  </div>
  <div class="form-group">
    <label for="InputName">Valor</label>
    <input type="text" class="form-control" id="InputValor" placeholder="R$ 20,00">
  </div>
  <div class="form-group">
    <label for="InputTempo">Tempo</label>
    <input type="text" class="form-control" id="InputTempo" placeholder="00h00">
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
  <button type="button" class="btn btn-danger">Cancelar</button>
</form>