  <div class="margin">
      <h5>Login</h5>
      <div class="row">
          <label class="col-md-12 col-form-label">Usuário</label>
          <div class="col-md-8">
              <input type="text" class="form-control" name="cpf"  [(ngModel)]="cpf" required>
          </div>
      </div>
      <div class="row">
          <label class="col-md-12 col-form-label">Senha</label>
          <div class="col-md-8">
              <input type="password" class="form-control" name="cpf"  [(ngModel)]="cpf" required>
          </div>
      </div>
      <br>
      <div>
          <button type="submit" class="btn btn-outline-success" (click)="save()">Entrar</button>
      </div>
  </div>