<div class="inicial">
    <div *ngIf="mostrarMenu">
        <div id="sidebar">
            <div class="toggle-btn" (click)="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                    <li class="active"><a routerLink="/home">Home</a></li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/reserva">Reserva</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/servicos">Serviço</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cliente">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profissional">Profissional</a>
                    </li>
            </ul>
        </div>
    </div>
</div>
<div class="conteudo">
    <router-outlet></router-outlet>
</div>