<div class="inicial">
    <div *ngIf="mostrarMenu">
        <div id="sidebar">
            <div class="toggle-btn" (click)="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <ul>
                    <li class="active"><a routerLink="/home">Home</a></li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/reserva">Reserva</a>
                    </li>
                    <div *ngIf="administrador">
                        <li class="nav-item"> 
                            <a class="nav-link" routerLink="/servicos">Serviço</a>
                        </li>
                    </div>
                    <div *ngIf="administrador">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/cliente">Cliente</a>
                        </li>
                    </div>
                    <div *ngIf="administrador">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/profissional">Profissional</a>
                        </li>
                    </div>
            </ul>
        </div>
    </div>
</div>
<div class="conteudo">
        <div *ngIf="mostrarMenu">
        <div style="margin-left: 99%; margin-top: 2%;">
            <avatar [name]="usuario" [displayType]="'circle'" [background]="'#9e9e9e'" size=30></avatar>
        </div>
        </div>
    <router-outlet></router-outlet>
</div>