<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>Menu</h1>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/reserva">Reserva</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos">Serviço</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cliente">Cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/profissional">Profissional</a>
        </li>
      </ul>
    </div>
  </nav> 