.menu{
    border-bottom: 1px solid var(--cor-bg-texto);
    width: 130%;
    height: 30vh;
    text-decoration: none;
}
a {
    color: var(--cor-bg-texto);
    text-decoration: none;
}
a:hover 
{
     color:var(--cor-bg-fundo); 
     text-decoration:none; 
     cursor:pointer;  
}
li:hover 
{
     background-color: var(--cor-bg-texto);
     
}