<div class="menu">
    <ul class="nav">
        <li class="nav-title">
            <b> Menu</b>
        </li>
    </ul>
  <ul class="nav flex-column">
      <i class="far fa-hand-scissors"></i>

    <li class="nav-item">
      <a class="nav-link active" href="/reserva">Reserva</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/servicos">Serviço</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cliente">Cliente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profissional">Profissional</a>
    </li>
  </ul>  
</div>